.split-display {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0px 15px 50px -5px rgba(0, 0, 0, 0.2);
}

.split-display a {
    display: block;
    text-align: center;
    font-size: 1.4em;
    height: 100%;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #bababa;
    width: 100%;
    font-weight: lighter;
    text-decoration: none;
}

.split-display .coder:hover {
    color: #54C6EB;
}

.split-display .coder {
    color: #bababa;
    padding: 60px 0;
}

.split-display .designer:hover {
    background-color: #54C6EB;
    border-color: #54C6EB;
}

.split-display .designer {
    background-color: #bababa;
    color: white;
    padding: 30px 0;
}

.skills-box-container {
    width: 100%;
    position: relative;
    display: inline-block;
}

.skills-box-container .skills-box {
    width: 100%;
    height: 200px;
    float: left;
    position: relative;
}

.skills-box-container .skills-box .inner {
    width: calc(100% + 1px);
    height: 100%;
    transition: 0.25s;
    color: white;
    box-shadow: 0px 18px 30px -20px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.skills-box-container .skills-box:hover .inner {
    cursor: pointer;
    width: 90%;
    height: 90%;
    box-shadow: none;
    position: relative;
}

.skills-box-container .skills-box:hover i {
    font-size: 6.5em;
}

.skills-box-container .skills-box i {
    font-size: 8em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s;
}

@media (min-width: 650px) {
    .split-display a {
        float: left;
        padding: 60px 0 !important;
        font-size: 2.6vw;
    }
    .split-display .coder {
        width: 66%;
    }
    .split-display .designer {
        width: 34%;
    }
    .skills-box-container .skills-box {
        width: 50%;
    }
}

@media (min-width: 960px) {
    .split-display a {
        font-size: 2vw;
    }
    .skills-box-container .skills-box {
        width: 25%;
    }
}

#html-skill .inner {
    background-color: #E54D26;
}

#css-skill .inner {
    background-color: #3D8FC6;
}

#js-skill .inner {
    background-color: #F0DB4F;
}

#php-skill .inner {
    background-color: #6181B6;
}

#python-skill .inner {
    background-color: #FFD845;
}

#java-skill .inner {
    background-color: #EA2D2E;
}

#csharp-skill .inner {
    background-color: #68217A;
}

#cplusplus-skill .inner {
    background-color: #9C033A;
}