body {
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
    height: 100vh;
    min-height: 230px;
    width: 100%;
    position: relative;
    background-color: rgb(194, 218, 222);
    transition: background-color 0.8s;
}

/*
header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/dartmouth_map_view.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.05;
}
*/

header .logo-main:hover {
    color: rgb(134, 190, 199);
}

header .nav-main a {
    background-color: transparent !important;
}

header .nav-main a:after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: transparent;
    transition: 0.8s;
}

header .nav-main a:hover {
    background-color: transparent !important;
}

header .nav-main a:hover:after {
    width: 100%;
    background-color: rgb(134, 190, 199);
}

header.pink, header.pink .nav-main-container {
    background-color: rgb(222, 194, 194) !important;
}

header.pink .logo-main:hover, header.pink .nav-main a.active {
    color: rgb(211, 155, 155);
}

header.pink .nav-main a:hover:after, header.pink .nav-main a.active:after {
    background-color: rgb(211, 155, 155);
}

header.purple, header.purple .nav-main-container {
    background-color: rgb(209, 194, 222) !important;
}

header.purple .logo-main:hover, header.purple .nav-main a.active {
    color: rgb(176, 134, 206);
}

header.purple .nav-main a:hover:after, header.green .nav-main a.active {
    background-color: rgb(176, 134, 206);
}

header.green, header.green .nav-main-container {
    background-color: rgb(203, 222, 194) !important;
}

header.green .logo-main:hover, header.green .nav-main a.active {
    color: rgb(165, 203, 148);
}

header.green .nav-main a:hover:after {
    background-color: rgb(165, 203, 148);
}

header::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.header-content {
    position: relative;
    display: inline-block;
    color: white;
    z-index: 1;
    margin-top: 35vh;
}

.header-content h1, .header-content h2 {
    transition: color 0.8s;
}

@-webkit-keyframes hvr-bob {
    0% {
        transform: translateY(-8px) rotate(5deg);
    }
    5% {
        transform: translateY(-8px) rotate(5deg);
    }
    50% {
        transform: translateY(0px) rotate(5deg);
    }
    55% {
        transform: translateY(0) rotate(5deg);
    }
    100% {
        transform: translateY(-8px) rotate(5deg);
    }
}

.header-content .icon-github {
    color: #8e308e;
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: -1.7em;
    right: 5em;
    transform: rotate(12deg);
    animation: logo-enter 2s 1 forwards, hvr-bob 2.5s linear infinite;
}

.header-content .icon-github:hover {
    color: purple;
}

@keyframes logo-enter {
    0% {
        opacity:0;
        transform: translate(0px,-25px);
    }
    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}

.logo-main * {
    opacity:0;
    transform: translate(0px,-25px);
    animation: logo-enter 2s 1 forwards;
}

.logo-main {
    font-family: 'Dawning of a New Day', cursive;
    font-weight: 100;
}

.logo-main h2 {
    font-family: 'Assistant', sans-serif;
}

.logo-main:hover {
    color: inherit;
    cursor: default;
}

header h1 {
    font-size: 3.5em;
    font-weight: 100;
    padding: 10px;
    border: 2px solid;
    margin: 0;
}

header h2 {
    font-size: 2em;
    margin: 5px 0 0 0;
    font-weight: 100;
}

.header-content a {
    color: inherit;
}

nav {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    z-index: 2;
}

ul {
    display: inline-block;
}

.nav-main-container {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: rgb(194, 218, 222);
    transition: background-color 0.8s;
}

.nav-main {
    display: inline-block;
    height: auto;
    line-height: 0; 
    height: 60px;
}

.nav-main ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-main a {
    line-height: normal;
    font-weight: 100;
    font-size: 1.2em;
    padding: 0 0 5px 0;
    border-bottom: 1px solid transparent;
    transition: color 0.8s;
}

.nav-main li:not(:last-of-type) {
    margin: 0 60px 0 0;
}

.nav-main a:hover {
    background-color: transparent;
    border-bottom: 1px solid inherit;
}