html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #1a1a1a;
    font-family: 'Yantramanav', sans-serif;
    overflow-x: hidden;
}

.content {
    flex: 1;
}

a {
    color: blue;
}

.nav-mobile a,
.navbar a {
    color: #1a1a1a !important;
    font-size: 2.3rem !important;
}

.nav-mobile a:hover,
.navbar a:hover {
    color: white !important;
}

@media screen and (max-width: 1280px) {
    .nav-mobile a,
    .navbar a {
        font-size: 2rem !important;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 2rem;
    }
    .logo {
        width: 6.5rem !important;
        height: 6.5rem !important;
    }
}

.columns .container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
    width: 80%;
    padding: 0;
    max-width: 1400px;
}

.container.left {
    width: auto;
}

.container.right {
    width: auto;
    margin-right: 10%;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin: 1rem 0 1rem 0;
}

.navbar-section a:not(:first-of-type) {
    margin-left: 7rem;
}

.divider {
    border-color: #1a1a1a !important;

}

.divider.padless {
    margin: 0;
}

.divider[data-content]::before {
    background-color: #ded3d3;
    color: white;
}

@media screen and (max-width: 840px) {
    body {
        font-size: 1rem !important;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
    .navbar-section a {
        font-size: 1.8rem !important;
    }
    .navbar-section a:not(:first-of-type) {
        margin-left: 3rem;
    }
}

.mobile-button {
    width: 4rem;
}

.mobile-button:hover {
    cursor: pointer;
}

.mobile-button.open span:nth-of-type(1) {
    width: 80%;
}

.mobile-button.open span:nth-of-type(2) {
    margin-left: 40%;
    width: 70%;
}

.mobile-button.open span:nth-of-type(3) {
    width: 60%;
}

.mobile-button span {
    position: relative;
    width: 100%;
    display: block;
    height: 1px;
    margin: 12px 0;
    background-color: #1a1a1a;
    transition: 0.5s;
}

.nav-mobile {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    margin: 0;
    background-color: #1a1a1a;
}

.nav-mobile a {
    color: white !important;
}

.nav-mobile.open {
    height: 160px;
}

.nav-mobile li  {
    height: 40px;
    line-height: 26px;
    margin: 0;
}

.nav-mobile a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav-mobile a:hover {
    background-color: white;
    color: #1a1a1a !important;
}

.divider.mini {
    border-color: inherit !important;
    width: 3rem;
    border-top: none;
    border-bottom: 0.3rem solid !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 2.2rem;
}

mark {
    color: inherit;
}

.columns.padded {
    padding: 5% 0;
}

.social-icon {
    display: inline-flex;
    font-size: 4rem !important;
    padding: 1.5rem;
    border-radius: 5rem;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
}

.social-icon:hover {
    text-decoration: none;
    background-color: #1a1a1a;
    color: white !important;
}

.social-icon:not(:first-of-type) {
    margin-left: 3rem;
}

@media screen and (max-width: 840px) {
    .social-icon {
        font-size: 3rem !important;
    }
    .social-icon:not(:first-of-type) {
        margin-left: 2rem;
    }
}

mark {
    background-color: rgb(255, 247, 225);
}

footer {
    padding: 1rem 0;
    font-size: 1.6rem;
    background-color: #e6e6e6;
    line-height: 1;
}

@media screen and (max-width: 600px) {
    footer {
        text-align: center;
        font-size: 1.4rem;
    }
}

footer .icon-heart {
    font-weight: bold;
    color: red;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.image object {
    height: 45rem;
    max-width: 100%;
}

.text-image-section h3 {
    padding: 0 !important;
}

.text-image-section .column:first-of-type {
    padding-right: 2rem;
}

.text-image-section .column:nth-of-type(2) {
    padding-left: 2rem;
}

.text-image-section .columns {
    padding: 5rem 0;
}

@media screen and (max-width: 1280px) {
    .image object {
        height: auto;
        max-height: 45rem;
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .image object {
        max-height: inherit;
    }
    .text-image-section h3 {
        padding: 5rem 0 !important;
    }
/*
    .text-image-section .column:first-of-type h3 {
        padding-top: 0 !important;
    }
    .text-image-section .column:nth-of-type(2) h3 {
        padding-bottom: 0 !important;
    }
*/
    .text-image-section .column h3 {
        padding-bottom: 0 !important;
    }
    .text-image-section .text {
        text-align: center !important;
    }
    .text-image-section .column:first-of-type {
        padding-right: 2rem;
    }
    .text-image-section .column:nth-of-type(2) {
        padding-left: 2rem;
    }
    .text-image-section .column {
        padding: inherit !important;
    }
    .text-image-section {
        padding: inherit;
    }
    .text-image-section .columns:nth-child(odd) .column:first-of-type {
        order: 2;
    }
}