.background-blue {
    background-color: #4088D6;
}

.color-blue {
    color: #4088D6;
}

.background-green {
    background-color: #A0D01A;
}

.color-green {
    color: #A0D01A;
}

.background-orange {
    background-color: #F45D01;
}

.color-orange {
    background-color: #F45D01;
}

html {
    font-family: 'Open Sans', sans-serif !important;
}

html,
body {
    overflow-x: hidden !important;
    width: 100% !important;
}

nav {
    box-shadow: 0px -72px 27px 68px rgba(0, 0, 0, 0.35);
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 300;
}

img {
    image-rendering: crisp-edges;
}

.button-collapse {
    color: #444;
    margin: 0 !important;
}

.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.overlayed::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.parallax-main {
    height: calc(100vh - 64px);
}

@media only screen and (max-width: 600px) {
    .parallax-main {
        height: calc(100vh - 50px);
    }
}

.parallax-container .section {
    width: 100%;
}

.parallax-container h5 {
    position: relative;
    font-size: 2em !important;
    padding: 0.5em !important;
    border-radius: 2px;
}

.parallax-container .section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#index-banner video {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider-image {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media only screen and (max-width: 1200px) {
    .divider-image {
        height: 100%;
        width: auto;
    }
}

.icon-block-section {
    color: white;
}

.icon-block {
    padding: 0 15px;
}

.icon-block h2 {
    margin-bottom: 0;
}

.icon-block h5 {
    color: white;
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
}

.icon-block h2 img {
    height: 80px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.icon-block p {
    font-size: 1.3em;
    text-align: center;
    margin: 12px 0 0 0;
}

footer.page-footer {
    margin: 0;
}

#logo-container {
    height: 100%;
    position: relative
}

#nav-logo {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

#main-logo {
    position: absolute;
    max-height: 80%;
    max-width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 1;
}

#audio-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#audio-button:hover {
    cursor: pointer;
}

#audio-button i {
    font-size: 3.5em;
}

.hidden {
    display: none;
}

.navbar-fixed li a,
.side-nav li a {
    font-size: 1.1em;
    font-weight: 600 !important;
}

.navbar-fixed li a {
    height: 45px;
    margin-left: 30px;
    padding: 0;
}

.navbar-fixed li a:hover,
.side-nav li a:hover,
.navbar-fixed li a.active {
    background-color: white;
    border-bottom: 1px solid #ec6e72;
}

.page-footer {
    padding: 0 !important;
    background-color: white !important;
}

.footer-copyright {
    background-color: #e8e8e8 !important;
    color: #444 !important;
    font-size: 0.8em;
    font-weight: 500 !important;
}

.page-footer .row {
    margin: 0;
}

.page-footer .row img {
    max-height: 150px;
    max-width: 100%;
    margin: 0 20px;
}

.gallery {
    padding: 10px;
}

.gallery .row {
    margin: 0;
}

#slides {
    padding: 40px 10px 0 10px;
}

.slidesjs-container {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.collapsible {
    border: none;
}

.collapsible-header {
    background-color: #f2f2f2;
    font-size: 1.8em;
    font-weight: 100;
    color: #41b6b4;
    border: none;
}

li:not(:first-child) .collapsible-header {
    border-top: 1px solid;
}

.collapsible-body {
    padding: 10px;
    width: 70%;
    margin-left: 15%;
    border: none;
}

@media only screen and (max-width: 900px) {
    .collapsible-body {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 650px) {
    .collapsible-body {
        width: 100%;
        margin-left: 0%;
    }
}

.collapsible-body span {
    display: inline-block;
    padding-top: 10px;
}

.collapsible-header.active,
.collapsible-header:hover {
    color: #f2f2f2;
    background-color: #41b6b4;
}

.collapsible {
    margin: 0;
    box-shadow: none;
}

.anchor {
    position: absolute;
    transform: translateY(-63px);
}

.profiles-section {
    color: white;
    background-color: #ec6e72;
    padding: 0;
}

.profiles-section .row,
.profiles-section .col {
    padding: 0 !important;
    margin: 0 !important;
}

.profiles-section p {
    font-size: 1.4em;
    padding: 0 40px 20px 40px;
    font-weight: 100;
}

.profiles-section h5 {
    font-weight: 100;
    padding-top: 20px;
}

.profiles-section .profile-picture {
    position: relative;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    overflow: hidden;
}

.profiles-section img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
}

.profiles-section .profile-picture::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
}

.profiles-section .row {
    margin: 10px;
}


/*#clayton {
    left: 10%;
}

#jennifer {
    top: 95%;
    left: 90%
}*/

#jennifer {
    top: 95%;
}

#contact h4 {
    margin-bottom: 40px;
    color: #0f3f4b;
    font-weight: 100;
}

.contact-info-list .col {
    line-height: 50px
}

#contact i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: #0f3f4b;
}

#contact .active {
    color: #0f3f4b;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #0f3f4b;
    box-shadow: none;
}

#message-textarea {
    min-height: 320px;
    background-color: #f4f4f4;
    padding: 5px 10px;
    box-sizing: border-box;
}

#contact .btn {
    background-color: #0f3f4b;
    color: white;
    font-weight: 100;
    font-size: 1.3em;
    height: auto;
    border: 1px solid transparent;
}

#contact .btn:hover {
    background-color: white;
    color: #0f3f4b;
    border: 1px solid #0f3f4b;
}