body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.main_menu {
    font-family: 'Codystar', cursive;
    height: calc(100vh - 10px);
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

@keyframes slide {
    0% {
        transform: translateY(-1000px);
    }
    70% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flipper {
    0% {
        transform: scale(0, 0) perspective(350px) rotateX(90deg);
    }
    100% {
        transform: scale(1, 1) perspective(350px) rotateX(360deg);
    }
}

@keyframes flipperUp {
    0% {
        transform: scale(1, 1) perspective(350px) rotateX(360deg);
    }
    100% {
        transform: scale(0, 0) perspective(350px) rotateX(90deg);
    }
}

.wires {
    position: absolute;
    top: -14px;
    height: 50%;
    width: 180px;
    border: 4px solid black;
    z-index: -1;
}

.menu_toggle_button {
    position: absolute;
    top: 10px;
    right: 9px;
    font-size: 3em;
    z-index: 1;
}

.menu_toggle_button:hover {
    cursor: pointer;
    color: #1f1f1f;
}

.menu_toggle_button i.hidden {
    display: none;
}

.main_menu {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1.5s;
}

.main_menu.hidden {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.main_menu ul {
    margin: 5px;
    padding: 10px;
    font-size: 3em;
    border-radius: 2px;
    border: 3px solid black;
    background-color: white;
}

.wires,
.main_menu ul {
    animation: flipper 1.5s forwards;
}

.main_menu.hidden .wires,
.main_menu.hidden ul {
    animation: flipperUp 1.5s forwards !important;
}

.main_menu ul li {
    list-style-type: none;
    position: relative;
    width: 100%;
}

.main_menu ul a+.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    color: white;
    overflow: hidden;
    pointer-events: none;
    -webkit-transition: 0.8s height;
    transition: 0.8s height;
    background-color: white;
}

.main_menu ul li a:hover+.background {
    height: 100%;
}

.main_menu ul li a {
    text-decoration: none;
    color: black;
}

#home+.background {
    color: blue;
}

#about_me+.background {
    color: red;
}

#my_work+.background {
    color: green;
}

#blog+.background {
    color: purple;
}

#contact+.background {
    color: darkorange;
}

#social_icons a {
    font-size: 0.83em;
}

#social_icons a:not(:last-of-type) {
    margin-right: 0.2em;
}

#github:hover {
    color: blueviolet;
}

#twitter:hover {
    color: #1DA1F2;
}

#youtube:hover {
    color: #E62117;
}

#linkedin:hover {
    color: forestgreen;
}

.top_bar {
    height: 10px;
    background-color: black;
    -webkit-transition: 0.8s background-color;
    transition: 0.8s background-color;
    position: relative;
    z-index: 1;
}

@media (min-width: 650px) {
    .main_menu ul {
        font-size: 4em;
    }
    .main_menu ul li {
        white-space: nowrap;
    }
    .wires {
        width: 350px;
    }
}

@media (min-width: 960px) {
    .main_menu {
        min-height: 700px;
    }
    .main_menu ul {
        font-size: 5em;
    }
    .main_menu ul li {
        white-space: nowrap;
    }
}
