body {
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}

.logo-main {
    position: relative;
    width: 100%;
}

.logo-main .line2 {
    fill: none;
    stroke: url(#SVGID_1_);
    stroke-width: 40;
    stroke-miterlimit: 10;
    animation: line2_animation 3s 0.5s ease-in-out forwards;
    stroke-dashoffset: 1000;
}

.logo-main .dot {
    fill: #54C6EB;
    stroke: #54C6EB;
    stroke-width: 0;
    stroke-miterlimit: 10;
    animation: dot_animation 0.01s 3.8s forwards;
}

.logo-main .line1 {
    fill: none;
    stroke: #54C6EB;
    stroke-width: 40;
    stroke-miterlimit: 10;
    animation: line1_animation 3s ease-in-out reverse; 
}

.logo-main .line1, .logo-main .line2 {
    stroke-dasharray: 1000;
}

@keyframes line1_animation {
    to {
        stroke-dashoffset: -1000;
    }
}

@keyframes line2_animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dot_animation {
    to {
        stroke-width: 40;
    }
}