body {
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden;
}

main.margin-top {
    margin-top: 7rem;
}

.btn {
    border-radius: 0;
}

#header-main {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.5s;
}

#header-main.scrolled {
    background-color: rgba(0,0,0,0.4);
}

#header-main.open {
    background-color: rgba(0,0,0,0.8);
}

#navbar-main .nav-item {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

#navbar-main .navbar-nav a {
    font-size: 1.1rem;
    color: white;
}

#navbar-main .navbar-nav .nav-item a:hover, #navbar-main .navbar-nav .nav-item a.active {
    color: #d3d3d3;
}

#footer-main {
    border-top: 1px solid #d3d3d3;
    margin-top: 1rem;
}

#footer-main [class^=col-] {
    padding: 0.5rem;
}

#plemx-root .weather-button {
    box-shadow: none !important;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

@media (min-width: 768px) { 
    #plemx-root .weather-button {
        margin: 0 !important;
        float: right;
    }
}

.current-weather {
    padding-top: 0 !important;
    line-height: 30px !important;
}

#footer-main span {
    vertical-align: middle;
}

.jumbotron-main {
    background-color: #8B786D;
    border: 1px solid #60524a;
    color: white;
}

.jumbotron-main .display-3 {
    color: #402a1d;
}

.jumbotron-main a {
    color: #4b3a30;
    font-weight: bold;
}

.jumbotron-main a:hover {
    text-decoration: underline;
}

#scroll-up-button {
    position: fixed;
    top: 15rem;
    right: -3.5rem;
    transition: 0.5s;
    opacity: 0;
    z-index: 999;
}

#scroll-up-button.show {
    opacity: 1;
}

#scroll-up-button:hover, #scroll-up-button.slide-out {
    right: 0;
}

#scroll-up-button a {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: default;
}

#scroll-up-button.show a {
    cursor: inherit;
}

@media(max-width: 860px) {
    #scroll-up-button {
        top: 8rem;
    }

    #scroll-up-button a {
        font-size: 1.5rem;
    }
}